In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("./data/formatted_transactions.csv")

In [3]:
df.head()

,EdgeID,from_id,to_id,Timestamp,Amount Sent,Sent Currency,Amount Received,Received Currency,Payment Format,Is Laundering
0,2,3,3,10,14675.57,0,14675.57,0,0,0
1,17,24,24,10,897.37,0,897.37,0,0,0
2,158,163,163,10,99986.94,0,99986.94,0,0,0
3,218,215,215,10,16.08,0,16.08,0,0,0
4,281,265,265,10,10.30,0,10.30,0,0,0

In [8]:
df.iloc[4924246]

EdgeID               4790094.00
from_id                 9310.00
to_id                 429697.00
Timestamp            1453210.00
Amount Sent             5615.49
Sent Currency              0.00
Amount Received         5615.49
Received Currency          0.00
Payment Format             3.00
Is Laundering              1.00
Name: 4924246, dtype: float64

In [9]:
import datatable as dt

raw = dt.fread('./data/HI-Small_Trans.csv', fill=True)

DatatableWarning: Duplicate column name found, and was assigned a unique name: 'Account' -> 'Account.0'

In [14]:
raw[4924245, :]

In [1]:
import torch
print(torch.cuda.is_available())

True

In [2]:
!pip3 list | grep torch

torch                         2.5.1+cu121
torch-cluster                 1.6.1+pt113cpu
torch-geometric               2.3.1
torch-scatter                 2.1.1+pt113cpu
torch-sparse                  0.6.17+pt113cpu
torch-spline-conv             1.2.2+pt113cpu
torchaudio                    2.5.1+cu121
torchvision                   0.20.1+cu121

In [15]:
!pip3 list | grep pyg-lib

pyg-lib                       0.2.0+pt113cpu